/*estilos.css*/
body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #D6D1D1;
}

header{
	background-color: #FFA6A6;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}

#link-menu-ul{
	list-style: none;
	padding: 0;
}

#link-menu-li{
	display: inline;
	margin-right: 50px;
}

main{
	margin: 20px;
}

section{
	background-color: #fff;
	padding: 20px;
	margin-bottom: 30px;
}

#menu-Prinicpal{
	color: white;
}

h2{
	color: #D3C6C6;
}

ul, li{
	list-style: disc;
}

form{
	width: 70%;
	margin: 0 auto; 
}

input[type="text"], input[type="email"],input[type="number"], textarea{
	width: 100%;
	padding: 10px;
	margin: 5px 0;
}

input[type="submit"]{
	background-color: #333;
	color: #fff;
	border: none;
	width: 100;
	height: 50%;
	padding: 10px 20px;
	cursor: pointer;
}

aside{
	background-color: #eee;
	padding: 20px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

th, td{
	border: 2px solid black;
}

img{
	max-width: 100%;
	height: auto;
}

audio{
	width: 100%;
}

footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

iframe{
	width: 100%;
	height: 600px;
}

#youtube{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1515px){
	#youtube{
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 634px){
	/*Esto significa que a partir de esa resolucion va a cambiar las cosas cuando se use en celular*/
	header{
		padding: 10px;
	}

	#link-menu-ul{
		text-align: center;
	}

	#link-menu-li{
		display: block;
		margin: 10px;
	}

	main{
		margin: 10px;
	}

	form{
		width: 90%;
	}


}

@media screen and (max-width: 600px){

	#inicio{
		background-color: #F98268;
	}
}

@media screen and (max-width: 480px){
	nav li{
		margin: 5px, 0;
	}
}

@media screen and (max-width: 300px){
	#contacto{
		display: none;
	}
}

@media screen and (min-width: 500px){
	#productos{
		font-size: 40px;
	}
}

/*Este apartado es de el html de seccion*/

.nav{
	background-color: #F8FC9E;
	color: #000000;
	text-align: center;
	margin: 10px 0px;
	padding: 1px 0px 1px;
}

.seccion-h2{
	color: black;
}

.seccion{
	background-color: #FF8E8E;
	padding: 10px;
	height: 100%;
	margin: 0px;
	width: auto;
}

#definición, #objetivo, .seccion, .seccionas, .nav{
	border: 3px solid #FF4200;
}

.seccionas{
	background-color: #FFAE00;
	padding: 5px;
	height: auto;
	width: 100%;
	align-items: center;
	display: inline-block;
}

.divseccion{
	display: flex;
	gap: 5px;
	padding: 0px 1px 20px;
	height: auto;
}

.video{
	background-color: #BBBBBB;
}

@media screen and (min-width: 1411px){

	#imagsec{
		width: 100%;
		height: auto;
	}
	.seccion{
		margin: 0px;
	}
}

@media screen and (max-width: 1411px){
	#definición, #objetivo{
		font-size: 20px;
		width: auto;
		height: auto;
	}
	#imagsec{
		width: 100%;
		height: auto;
	}
	
}

@media screen and (max-width: 1000px){
	.divseccion{
		flex-direction: column;
		height: auto;
		width: auto;
	}
	.seccionas{
		padding: 0px 240px;
		margin: 0px;
		width: auto;
		height: auto;
	}
	.nav{

		align-items: center;
	}
	#imagsec{
		width: auto;
		height: auto;
	}
}
@media screen and (max-width: 700px){
	.seccionas{
		display: none;
	}
}